<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<!-- Header -->
	<header>
		<h1>Animal Sitting</h1>
		<p>Web App to connect animal owners with animal sitters.</p>
	</header>

	<!-- Call To Action -->
	<section>
		<div class="">
			<h2>People are busy with life. Animal Sitting can help you find a sitter to watch your 4 legged best friend.</h2>
			<p>Animal Sitting uses registered and verified sitters so you can have piece of mind.</p>
		</div>
		<div class="">
			<h1>Sign Up Today!</h1>
			<button type="button" name="button">Sign Up</button>
		</div>
	</section>

	<section>

	</section>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
