header {
  align-items: center;
  background: url('../images/dogBG.jpeg');
  background-position: bottom center;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-wrap: wrap;
  padding: 40px 80px;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 72px;
  font-weight: bold;
}
header p {
  font-size: 20px;
  line-height: 40px;
}

#call-to-action,
#sign-up {
  padding: 40px 80px;
}

#call-to-action div,
#sign-up div {
  text-align: center;
}

#sign-up input {
  margin: 10px auto;
}
#sign-up .input-group {
  margin: 0 auto;
}
